<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Admin</title>

  <link th:href="@{/admin/assets/css/pace.min.css}" rel="stylesheet" />
  <script th:src="@{/admin/assets/js/pace.min.js}"></script>
  <link rel="stylesheet" th:href="@{/admin/assets/plugins/summernote/dist/summernote-bs4.css}"/>
  <link rel="icon" th:href="@{/admin/assets/images/favicon.ico}" type="image/x-icon}">
  <link th:href="@{/admin/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css}" rel="stylesheet" />
  <link th:href="@{/admin/assets/plugins/simplebar/css/simplebar.css}" rel="stylesheet" />
  <link th:href="@{/admin/assets/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/admin/assets/css/animate.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/admin/assets/css/icons.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/admin/assets/css/sidebar-menu.css}" rel="stylesheet" />
  <link th:href="@{/admin/assets/css/app-style.css}" rel="stylesheet" />

  <link th:href="@{/admin/assets/css/thoikhoabieu.css}" rel="stylesheet" >

  <script th:src="@{/admin/assets/js/jquery.min.js}"></script>
  <script th:src="@{/admin/assets/js/sweetalert2.all.js}"></script>
  <link rel="stylesheet" th:href="@{/admin/assets/css/sweetalert2.min.css}">

  <style type="">
    .multiline{
      text-align: left;
      word-wrap: break-word;
    }
    .lichhoc{
      min-height: 150px;
    }
  </style>

  <script th:inline="javascript">
  /*<![CDATA[*/

    var msg = /*[[${msg}]]*/ '';

    function yourfunction() {
      if(msg!=""&&msg!=null){
        Swal.fire({
          text: msg,
         })
      }
    }

    window.onload = yourfunction;

  /*]]>*/
  </script>

  <script th:inline="javascript">

    function postNextWeek() {

      // sunday + 1 => next monday
      var nextMonday = new Date([[${sunday}]]);
      nextMonday.setDate(nextMonday.getDate() + 1);

      // defined method and url
      var path='/admin/schedule/next';
      var method='post';

      // The rest of this code assumes you are not using a library.
      // It can be made less verbose if you use one.
      const form = document.createElement('form');
      form.method = method;
      form.action = path;

      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = 'nextMonday';
      hiddenField.value = nextMonday.toLocaleDateString();

      form.appendChild(hiddenField);

      document.body.appendChild(form);
      form.submit();
    }

      function postPreviousWeek() {

      // monday - 7 => last monday
      var lastMonday = new Date([[${monday}]]);
      lastMonday.setDate(lastMonday.getDate() - 7);
      console.log(lastMonday.toLocaleDateString());

      // defined method and url
      var path='/admin/schedule/previous';
      var method='post';

      // The rest of this code assumes you are not using a library.
      // It can be made less verbose if you use one.
      const form = document.createElement('form');
      form.method = method;
      form.action = path;

      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = 'lastMonday';
      hiddenField.value = lastMonday.toLocaleDateString();

      form.appendChild(hiddenField);

      document.body.appendChild(form);
      form.submit();
    }

  </script>
</head>

<body class="bg-theme bg-theme1">

  <!-- start loader -->
  <div id="pageloader-overlay" class="visible incoming">
    <div class="loader-wrapper-outer">
      <div class="loader-wrapper-inner">
        <div class="loader"></div>
      </div>
    </div>
  </div>
  
 <div id="wrapper">
  <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
    <div class="brand-logo">
      <a th:href="@{/admin/employee}">
        <img src="/admin/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        <h5 class="logo-text">TOPAL</h5>
      </a>
    </div>
    <ul th:fragment="menu-fragment" class="sidebar-menu do-nicescrol">
      <li class="sidebar-header">MENU ADMIN</li>
      <li>
        <a th:href="@{/admin/home}">
          <i class="zmdi zmdi-view-dashboard"></i> <span>Lịch</span>
        </a>
      </li>
      
       <li>
        <a th:href="@{/admin/employee}">
          <i class="zmdi zmdi-account-box"></i> <span>Quản lí Nhân viên</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/student}">
          <i class="zmdi zmdi-accounts"></i> <span>Quản lí Học viên</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/teacher}">
          <i class="zmdi zmdi-accounts"></i> <span>Quản lí Giảng viên</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/courses}">
          <i class="zmdi zmdi-widgets"></i> <span>Quản lí Khóa học</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/classrooms}">
          <i class="zmdi zmdi-widgets"></i> <span>Quản lí Lớp học</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/posts}">
          <i class="zmdi zmdi-collection-bookmark"></i> <span>Quản lí Bài đăng</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/notification}">
          <i class="zmdi zmdi-collection-bookmark"></i> <span>Quản lí Thông báo</span>
        </a>
      </li>
      
      <li>
        <a th:href="@{/admin/approvestudent}">
          <i class="zmdi zmdi-assignment-check"></i> <span>Duyệt học viên</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/post/accept}">
          <i class="zmdi zmdi-assignment-check"></i> <span>Duyệt bài đăng</span>
        </a>   
      </li>
    </ul>
  </div>
    <header class="topbar-nav">
      <nav class="navbar navbar-expand fixed-top">
        <ul class="navbar-nav mr-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link toggle-menu" href="javascript:void();">
              <i class="icon-menu menu-icon"></i>
            </a>
          </li>
        </ul>
		
        <ul class="navbar-nav align-items-center right-nav-link">
          <li class="nav-item">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
              <span class="user-profile"><img src="/admin/assets/images/avatar-admin.png" class="img-circle"
                  alt="user avatar"></span>
            </a>
            <ul th:fragment="admin-fragment" class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item user-details">
                <a href="javaScript:void();">
                  <div class="media">
                    <div class="avatar"><img class="align-self-start mr-3" src="/admin/assets/images/avatar-admin.png"
                        alt="user avatar"></div>
                    <div class="media-body">
                      <h6 class="mt-2 user-title">Topal</h6>
                	  <b th:text="${users.fullName}"></b>
                    </div>
                  </div>
                </a>
              </li>
            
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-power mr-2"></i><a th:href="@{/user/info/{id}(id=${users.id})}">Thông tin cá nhân</a></li>
              <li class="dropdown-item"><i class="icon-power mr-2"></i><a th:href="@{/logout}"> Đăng xuất</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <div class="clearfix"></div>

    <!-- Body -->
    <div class="content-wrapper">
      <div class="container-fluid">
       <div class="row">
         <h3>Lịch theo tuần</h3>
       </div>
       <div class="row">
<!--          <div class="col" style="width: 255px;float: right;padding: 5px 0px 0px 0px;">-->
<!--            <label class="" style="padding-left: 25px;margin-bottom: 0px;">-->
<!--                <input checked="checked" id="rdoLoaiLich1" name="rdoLoaiLich" type="radio" value="0"> <label lang="lichtheotuan-tatca">Tất cả</label>-->
<!--                <span></span>-->
<!--            </label>-->
<!--            <label class="" style="padding-left: 25px;margin-bottom: 0px;">-->
<!--                <input id="rdoLoaiLich2" name="rdoLoaiLich" type="radio" value="1"> <label lang="lichtheotuan-lichhoc">Lịch học</label>-->
<!--                <span></span>-->
<!--            </label>-->
<!--            <label class="" style="padding-left: 25px;margin-bottom: 0px;">-->
<!--                <input id="rdoLoaiLich3" name="rdoLoaiLich" type="radio" value="2"> <label lang="lichtheotuan-lichthi">Lịch thi</label>-->
<!--                <span></span>-->
<!--            </label>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <input type="date" id="date" name="date" class="chonngay" placeholder="dd-mm-yyyy" value="2022-03-07" min="2000-01-01" max="2099-12-31" >-->
<!--          </div>-->
          <div class="col" style="padding: 5px; display: flex; flex:1; justify-content:right;">
            <button class="btnlich"><a th:href="@{/admin/schedule}">Hiện tại</a> </button>
            <button class="btnlich" th:onclick="postPreviousWeek()">Trở về</button>
            <button class="btnlich" th:onclick="postNextWeek()">Tiếp</button>
          </div>
        </div>
        <div class="row">
          <div class="col thu">
            <h5>Ca học</h5>
          </div>
          <div class="col thu">
            <h5>Thứ 2</h5>
<!--            th:value="${#temporals.format(teacher.dob, 'dd-MM-yyyy')}"-->
            <h6 th:text="${#temporals.format(monday, 'dd/MM/yyyy')}"></h6>
          </div>
          <div class="col thu">
            <h5>Thứ 3</h5>
            <h6 th:text="${#temporals.format(tuesday, 'dd/MM/yyyy')}"></h6>
          </div>
          <div class="col thu">
            <h5>Thứ 4</h5>
            <h6 th:text="${#temporals.format(wednesday, 'dd/MM/yyyy')}"></h6>
          </div>
          <div class="col thu">
            <h5>Thứ 5</h5>
            <h6 th:text="${#temporals.format(thursday, 'dd/MM/yyyy')}"></h6>
          </div>
          <div class="col thu">
            <h5>Thứ 6</h5>
            <h6 th:text="${#temporals.format(friday, 'dd/MM/yyyy')}"></h6>
          </div>
          <div class="col thu">
            <h5>Thứ 7</h5>
            <h6 th:text="${#temporals.format(saturday, 'dd/MM/yyyy')}"></h6>
          </div>
          <div class="col thu">
            <h5>Chủ nhật</h5>
            <h6 th:text="${#temporals.format(sunday, 'dd/MM/yyyy')}"></h6>
          </div>
        </div>
        <div class="row">
          <div class="col buoi sang">
            <h5>Sáng</h5>
          </div>
          <div class="col buoi">
<!--            Sang Thu 2-->
            <th:block th:each="scheduleInMonday : ${scheduleInMondays}" >
              <div class="lichhoc multiline" th:if="${scheduleInMonday.lesson == '1-3' || scheduleInMonday.lesson == '4-6'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInMonday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInMonday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInMonday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInMonday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInMonday.meetingInfo != 'null'} ?  ${scheduleInMonday.meetingInfo} : ${'Phòng: ' + scheduleInMonday.location}"></h3>
<!--                <h3 class="ghichu multiline"  th:if="${scheduleInMonday.meetingInfo != 'null'} "  th:text="${scheduleInMonday.meetingInfo}"></h3>-->
<!--                <h3 class="ghichu multiline"  th:if="${scheduleInMonday.location != 'null'} "  th:text="${scheduleInMonday.location}"></h3>-->
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Sang Thu 3-->
            <th:block th:each="scheduleInTuesday : ${scheduleInTuesdays}" >
              <div class="lichhoc multiline" th:if="${scheduleInTuesday.lesson == '1-3' || scheduleInTuesday.lesson == '4-6'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInTuesday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInTuesday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInTuesday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInTuesday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInTuesday.meetingInfo != 'null'} ?  ${scheduleInTuesday.meetingInfo} : ${'Phòng: ' + scheduleInTuesday.location}"></h3>
                </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Sang Thu 4-->
            <th:block th:each="scheduleInWednesday : ${scheduleInWednesdays}" >
              <div class="lichhoc multiline" th:if="${scheduleInWednesday.lesson == '1-3' || scheduleInWednesday.lesson == '4-6'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInWednesday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInWednesday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInWednesday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInWednesday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInWednesday.meetingInfo != 'null'} ?  ${scheduleInWednesday.meetingInfo} : ${'Phòng: ' + scheduleInWednesday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Sang Thu 5-->
            <th:block th:each="scheduleInThursday : ${scheduleInThursdays}" >
              <div class="lichhoc multiline" th:if="${scheduleInThursday.lesson == '1-3' || scheduleInThursday.lesson == '4-6'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInThursday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInThursday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInThursday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInThursday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInThursday.meetingInfo != 'null'} ?  ${scheduleInThursday.meetingInfo} : ${'Phòng: ' + scheduleInThursday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Sang Thu 6-->
            <th:block th:each="scheduleInFriday : ${scheduleInFridays}" >
              <div class="lichhoc multiline" th:if="${scheduleInFriday.lesson == '1-3' || scheduleInFriday.lesson == '4-6'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInFriday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInFriday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInFriday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInFriday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInFriday.meetingInfo != 'null'} ?  ${scheduleInFriday.meetingInfo} : ${'Phòng: ' + scheduleInFriday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Sang Thu 7-->
            <th:block th:each="scheduleInSaturday : ${scheduleInSaturdays}" >
              <div class="lichhoc multiline" th:if="${scheduleInSaturday.lesson == '1-3' || scheduleInSaturday.lesson == '4-6'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInSaturday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInSaturday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInSaturday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInSaturday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInSaturday.meetingInfo != 'null'} ?  ${scheduleInSaturday.meetingInfo} : ${'Phòng: ' + scheduleInSaturday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Sang CN-->
            <th:block th:each="scheduleInSunday : ${scheduleInSundays}" >
              <div class="lichhoc multiline" th:if="${scheduleInSunday.lesson == '1-3' || scheduleInSunday.lesson == '4-6'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInSunday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInSunday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInSunday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInSunday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInSunday.meetingInfo != 'null'} ?  ${scheduleInSunday.meetingInfo} : ${'Phòng: ' + scheduleInSunday.location}"></h3>
              </div>
            </th:block>
          </div>
        </div>
        <div class="row">
          <div class="col buoi chieu">
            <h5>Chiều</h5>
          </div>
          <div class="col buoi">
            <!--            Chieu Thu 2-->
            <th:block th:each="scheduleInMonday : ${scheduleInMondays}" >
              <div class="lichhoc multiline" th:if="${scheduleInMonday.lesson == '7-9' || scheduleInMonday.lesson == '10-12'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInMonday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInMonday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInMonday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInMonday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInMonday.meetingInfo != 'null'} ?  ${scheduleInMonday.meetingInfo} : ${'Phòng: ' + scheduleInMonday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Chieu Thu 3-->
            <th:block th:each="scheduleInTuesday : ${scheduleInTuesdays}" >
              <div class="lichhoc multiline" th:if="${scheduleInTuesday.lesson == '7-9' || scheduleInTuesday.lesson == '10-12'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInTuesday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInTuesday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInTuesday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInTuesday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInTuesday.meetingInfo != 'null'} ?  ${scheduleInTuesday.meetingInfo} : ${'Phòng: ' + scheduleInTuesday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Chieu Thu 4-->
            <th:block th:each="scheduleInWednesday : ${scheduleInWednesdays}" >
              <div class="lichhoc multiline" th:if="${scheduleInWednesday.lesson == '7-9' || scheduleInWednesday.lesson == '10-12'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInWednesday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInWednesday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInWednesday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInWednesday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInWednesday.meetingInfo != 'null'} ?  ${scheduleInWednesday.meetingInfo} : ${'Phòng: ' + scheduleInWednesday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Chieu Thu 5-->
            <th:block th:each="scheduleInThursday : ${scheduleInThursdays}" >
              <div class="lichhoc multiline" th:if="${scheduleInThursday.lesson == '7-9' || scheduleInThursday.lesson == '10-12'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInThursday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInThursday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInThursday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInThursday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInThursday.meetingInfo != 'null'} ?  ${scheduleInThursday.meetingInfo} : ${'Phòng: ' + scheduleInThursday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Chieu Thu 6-->
            <th:block th:each="scheduleInFriday : ${scheduleInFridays}" >
              <div class="lichhoc multiline" th:if="${scheduleInFriday.lesson == '7-9' || scheduleInFriday.lesson == '10-12'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInFriday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInFriday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInFriday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInFriday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInFriday.meetingInfo != 'null'} ?  ${scheduleInFriday.meetingInfo} : ${'Phòng: ' + scheduleInFriday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Chieu Thu 7-->
            <th:block th:each="scheduleInSaturday : ${scheduleInSaturdays}" >
              <div class="lichhoc multiline" th:if="${scheduleInSaturday.lesson == '7-9' || scheduleInSaturday.lesson == '10-12'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInSaturday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInSaturday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInSaturday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInSaturday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInSaturday.meetingInfo != 'null'} ?  ${scheduleInSaturday.meetingInfo} : ${'Phòng: ' + scheduleInSaturday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Chieu CN-->
            <th:block th:each="scheduleInSunday : ${scheduleInSundays}" >
              <div class="lichhoc multiline" th:if="${scheduleInSunday.lesson == '7-9' || scheduleInSunday.lesson == '10-12'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInSunday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInSunday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInSunday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInSunday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInSunday.meetingInfo != 'null'} ?  ${scheduleInSunday.meetingInfo} : ${'Phòng: ' + scheduleInSunday.location}"></h3>
              </div>
            </th:block>
          </div>
        </div>
        <div class="row">
          <div class="col buoi chieu">
            <h5>Tối</h5>
          </div>
          <div class="col buoi">
            <!--            Toi Thu 2-->
            <th:block th:each="scheduleInMonday : ${scheduleInMondays}" >
              <div class="lichhoc multiline" th:if="${scheduleInMonday.lesson == '13-15'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInMonday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInMonday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInMonday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInMonday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInMonday.meetingInfo != 'null'} ?  ${scheduleInMonday.meetingInfo} : ${'Phòng: ' + scheduleInMonday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Toi Thu 3-->
            <th:block th:each="scheduleInTuesday : ${scheduleInTuesdays}" >
              <div class="lichhoc multiline" th:if="${scheduleInTuesday.lesson == '13-15'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInTuesday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInTuesday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInTuesday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInTuesday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInTuesday.meetingInfo != 'null'} ?  ${scheduleInTuesday.meetingInfo} : ${'Phòng: ' + scheduleInTuesday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Toi Thu 4-->
            <th:block th:each="scheduleInWednesday : ${scheduleInWednesdays}" >
              <div class="lichhoc multiline" th:if="${scheduleInWednesday.lesson == '13-15'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInWednesday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInWednesday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInWednesday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInWednesday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInWednesday.meetingInfo != 'null'} ?  ${scheduleInWednesday.meetingInfo} : ${'Phòng: ' + scheduleInWednesday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Toi Thu 5-->
            <th:block th:each="scheduleInThursday : ${scheduleInThursdays}" >
              <div class="lichhoc multiline" th:if="${scheduleInThursday.lesson == '13-15'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInThursday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInThursday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInThursday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInThursday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInThursday.meetingInfo != 'null'} ?  ${scheduleInThursday.meetingInfo} : ${'Phòng: ' + scheduleInThursday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Toi Thu 6-->
            <th:block th:each="scheduleInFriday : ${scheduleInFridays}" >
              <div class="lichhoc multiline" th:if="${scheduleInFriday.lesson == '13-15'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInFriday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInFriday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInFriday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInFriday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInFriday.meetingInfo != 'null'} ?  ${scheduleInFriday.meetingInfo} : ${'Phòng: ' + scheduleInFriday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Toi Thu 7-->
            <th:block th:each="scheduleInSaturday : ${scheduleInSaturdays}" >
              <div class="lichhoc multiline" th:if="${scheduleInSaturday.lesson == '13-15'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInSaturday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInSaturday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInSaturday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInSaturday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInSaturday.meetingInfo != 'null'} ?  ${scheduleInSaturday.meetingInfo} : ${'Phòng: ' + scheduleInSaturday.location}"></h3>
              </div>
            </th:block>
          </div>
          <div class="col buoi">
            <!--            Toi CN-->
            <th:block th:each="scheduleInSunday : ${scheduleInSundays}" >
              <div class="lichhoc multiline" th:if="${scheduleInSunday.lesson == '13-15'}">
                <h2 class="ten multiline" th:text="${'Lớp ' + scheduleInSunday.classname}"></h2>
                <h3 class="tiet multiline" th:text="${'Tiết: ' + scheduleInSunday.lesson}"></h3>
                <h3 class="phong multiline" th:text="${'Hình thức: ' + scheduleInSunday.type}"></h3>
                <h3 class="gianagvien multiline" th:text="${'GV: ' + scheduleInSunday.teacherName}"></h3>
                <h3 class="ghichu multiline"  th:text="${scheduleInSunday.meetingInfo != 'null'} ?  ${scheduleInSunday.meetingInfo} : ${'Phòng: ' + scheduleInSunday.location}"></h3>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>
   <!-- Body -->
   
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!-- <div class="right-sidebar">
      <div class="switcher-icon">
        <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
      </div>
      <div class="right-sidebar-content">
        <p class="mb-0">Màu nền admin</p>
        <hr>
        <ul class="switcher">
          <li id="theme1"></li>
          <li id="theme2"></li>
          <li id="theme3"></li>
          <li id="theme4"></li>
          <li id="theme5"></li>
          <li id="theme6"></li>
        </ul>
        <p class="mb-0">Màu nền gradient</p>
        <hr>
        <ul class="switcher">
          <li id="theme7"></li>
          <li id="theme8"></li>
          <li id="theme9"></li>
          <li id="theme10"></li>
          <li id="theme11"></li>
          <li id="theme12"></li>
          <li id="theme13"></li>
          <li id="theme14"></li>
          <li id="theme15"></li>
        </ul>
      </div>
    </div> -->
  </div>

    <script src="/admin/assets/js/jquery.min.js"></script>
    <script src="/admin/assets/js/popper.min.js"></script>
    <script src="/admin/assets/js/bootstrap.min.js"></script>
    <script src="/admin/assets/plugins/simplebar/js/simplebar.js"></script>
    <script src="/admin/assets/js/sidebar-menu.js"></script>
    <script src="/admin/assets/js/jquery.loading-indicator.js"></script>
    <script src="/admin/assets/js/app-script.js"></script>
    <script src="/admin/assets/plugins/Chart.js/Chart.min.js"></script>
    <script src="/admin/assets/js/index.js"></script>
    <script src="/admin/assets/plugins/summernote/dist/summernote-bs4.min.js"></script>

    <script src="/admin/assets/js/thoikhoabieu.js"></script>
  </body>
  
  </html>
  