<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/dangky.css">
    <title>Dang ky</title>
</head>
<body>
<div class="container">
    <h1>Đăng ký</h1>
    <form method="post" th:action="@{/register}" th:object="${users}">
        <div class="form-control">
            <input type="text" id="username" name="username" placeholder="Tên đăng nhập" th:field="*{username}"/>
            <span></span>
            <small th:text="${errorUsername}"></small>
        </div>
        <div class="form-control">
            <input type="email" id="email" name="email" placeholder="Email" th:field="*{email}"/>
            <span></span>
            <small th:text="${errorEmail}"></small>
        </div>
        <div class="form-control">
            <input type="password" id="password" name="password" placeholder="Mật khẩu" th:field="*{password}" />
            <span></span>
            <small th:text="${errorPassword}"></small>
        </div>
        <!-- <div class="validator">
            <p class="lowercase">Lower-case</p>
            <p class="uppercase">Upper-case</p>
            <p class="number">Number</p>
            <p class="symbol">At least one special symbol</p>
            <p class="characters">At least 8 characters</p>
        </div> -->
        <div class="form-control">
            <input
                    type="password"
                    id="password2"
                    name="passwordMatch"
                    placeholder="Nhập lại mật khẩu"

            />
            <span></span>
            <small th:text="${errorPasswordMatch}"></small>
        </div>
        <input type="submit" value="Đăng ký" />
        <div class="signup_link">Đã có tài khoản ?<a th:href="@{/login}">Đăng nhập</a></div>
        <div class="signup_link"><a th:href="@{/home}">Về trang chủ</a></div>
    </form>
</div>
</body>
</html>